.spinner-container {
    display: flex;
    width: 100rem;
    height: 100rem;
    top: 150px;
    align-items: center;
    flex-direction: column;
    position: absolute; 
    margin-top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.spinner-custom {
    width: 30rem;
    height: 30rem;
    border-width: 10rem;
    border-color: #14FF00 transparent;
    border-style: solid;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner-message {
    margin-top: 1rem;
    font-size: 2rem;
    color: #14FF00;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


