@font-face {
	font-family: 'PAC-FONT';
	src: url('../font/PAC-FONT.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PS2P-FONT';
	src: url('../font/PressStart2P-vaV7.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: blue;
}

.backimg {
	position:absolute;
	left: 0px;
	top: 0px;
	right:0px;
	bottom:0px;
	z-index: -1;
	margin: 0 auto;
}

.PacPong_font {
	font-family: "PAC-FONT", Arial, Helvetica, sans-serif;
	text-shadow:
        -1px -1px 0 #FF0000,  
        1px -1px 0 #FF0000,
        -1px 1px 0 #FF0000,
        1px 1px 0 #FF0000;
	/* text-align: center; */
}

.PS2P_font {
	font-family: "PS2P-FONT", Arial, Helvetica, sans-serif;
	color: white;
}

.blue_outline {
	color: white;
	border-width: 14px;
	border-style: solid;
	border-image: url("../image/border_image_blue.png");
	border-image-slice: 16 fill;
}

.green_outline {
	color: #18ff02;
	border-width: 14px;
	border-style: solid;
	border-image: url("../image/border_image_green.png");
	border-image-slice: 16 fill;
}

.PS2P_font.hover{
	color: #14FF00;
	text-shadow:
        -5px -5px 0 #ffffff,  
        5px -5px 0 #ffffff,
        -5px 5px 0 #ffffff,
        5px 5px 0 #ffffff;
}

.green_hover{
	color: #14FF00;
}

.red_hover{
	color: #ff0000;
}

.white_stroke_5px{
	text-shadow:
        -5px -5px 0 #ffffff,  
        5px -5px 0 #ffffff,
        -5px 5px 0 #ffffff,
        5px 5px 0 #ffffff;
}

.white_stroke_3px{
	text-shadow:
        -3px -3px 0 #ffffff,  
        3px -3px 0 #ffffff,
        -3px 3px 0 #ffffff,
        3px 3px 0 #ffffff;
}