@font-face {
	font-family: 'PAC-FONT';
	src: url('../font/PAC-FONT.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PS2P-FONT';
	src: url('../font/PressStart2P-vaV7.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: black;
}

.PacPong_font {
	font-family: "PAC-FONT", Arial, Helvetica, sans-serif;
	text-shadow:
        -1px -1px 0 #FF0000,  
        1px -1px 0 #FF0000,
        -1px 1px 0 #FF0000,
        1px 1px 0 #FF0000;
	/* text-align: center; */
}

.PS2P_font {
	font-family: "PS2P-FONT", Arial, Helvetica, sans-serif;
	color: white;
}

.jumbotron {
	padding: 0.8%;
	border: solid;
	border-color: yellow;
}

